{% extends 'base.html' %}
{% block title %}Посты{% endblock %}
{% block content %}

    <form action="{% url 'posts_list' %}" method="GET">
            {% csrf_token %}
            {{ form.post_keywords.label }}:{{ form.post_keywords }}
            <button type="submit" class="btn btn-primary">Искать</button>
    </form>
    <dl>
    {% for post in post_list %}
        <li>
            <a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h3>
        </li>
    {% endfor %}
    </dl>
{% endblock %}