{% extends 'base.html' %}
{% block title %}Пост{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    {{ post.date }}
    <a href="{% url "post_update" post.pk %}">Изменить пост</a>
    <p>{{ post.text }}</p>
    <p><b>By {{ post.author }}</b></p>
    <h2>Комментарии:</h2>
    <ul>
        {% for comment in post.parent_comments %}
            {% include "comment.html" %}
        {% endfor %}
    </ul>
    <a href="{% url "comment_create" %}">Добавить комментарий</a>
    <h2>Оценки:</h2>
    <ul>
    {% for rating in post.ratings.all %}
        <li>{{ rating.user.name }}: {{ rating.get_value_display }}</li>
    {% endfor %}
</ul>
{% endblock %}